/*GENERALES*/
/*COLORES*/
/*FONDOS*/
/*TIPOGRAFIA*/
/*TEXTOS*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Palanquin', 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  margin: 0;
  line-height: 1.6;
  background-color: lightsteelblue; }

section {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center; }

a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem; }

a:hover {
  color: #000; }

.tituloSeccion {
  padding-bottom: 5rem; }
  .tituloSeccion__titulo {
    font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 10rem;
    font-weight: 400;
    margin-top: 2rem; }
  .tituloSeccion__bajada {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    padding: 0 10%; }

.tituloProyecto {
  margin: auto;
  justify-self: center; }
  .tituloProyecto__titulo {
    font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 8rem;
    font-weight: 500;
    text-align: left;
    padding: 3rem 2rem 0 2rem;
    line-height: 8rem; }
  .tituloProyecto__bajada {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    padding: 0 2rem;
    text-align: left; }
  .tituloProyecto__descripcion {
    padding: 3rem 2rem 0 2rem;
    text-align: left;
    line-height: 2.7rem; }
    .tituloProyecto__descripcion strong {
      font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: 0.25rem; }

.animateScroll {
  max-width: 100%; }
  .animateScroll img {
    width: 100%;
    position: relative; }

.textoDesarrollo {
  text-align: left;
  padding: 5% 3%;
  display: flex;
  align-content: center; }

.cont {
  font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  padding: 5rem 0;
  color: tomato;
  letter-spacing: 0.25rem;
  line-height: 2rem; }
  .cont__texto {
    margin: 0; }
    .cont__texto__enlace {
      color: #fff;
      transition: width 1s;
      width: 20vw; }
    .cont__texto__enlace:hover {
      color: #2D2C2C;
      background-color: lightsteelblue;
      width: 50vw; }

.bg-rojo {
  background-color: tomato; }
  .bg-rojo a {
    color: #fff; }

.bg-grisOscuro {
  background-color: #2D2C2C; }
  .bg-grisOscuro a {
    color: #fff; }

.bg-grisClaro {
  background-color: #c7c7c7; }
  .bg-grisClaro a {
    color: #fff; }

.bg-reciclarClaro {
  background-color: #f3ffef; }
  .bg-reciclarClaro a {
    color: #fff; }

.bg-reciclarOscuro {
  background-color: #d8ffd0; }
  .bg-reciclarOscuro a {
    color: #fff; }

@media only screen and (max-width: 768px) {
  .tituloSeccion {
    padding-bottom: 2rem; }
    .tituloSeccion__titulo {
      font-size: 8rem; }
    .tituloSeccion__bajada {
      font-size: 1.25rem;
      padding: 0; }
  .cont {
    font-size: 3rem;
    padding: 3rem 0; }
  .nav {
    padding: 0 2rem 0 2rem; } }

@media only screen and (max-width: 375px) {
  .tituloSeccion {
    padding-bottom: 2rem; }
    .tituloSeccion__titulo {
      font-size: 6rem; }
    .tituloSeccion__bajada {
      font-size: 1.25rem;
      padding: 0; } }

/*PARTES*/
header {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2C2C;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2C2C;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    justify-self: center;
    /*MODAL*/ }
    header nav .logo, header nav .homeMenu {
      display: flex;
      padding-left: 2rem;
      position: relative;
      font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
      font-size: 3rem;
      font-weight: 500; }
    header nav .logo:hover, header nav .homeMenu:hover {
      background-color: transparent; }
    header nav .menu, header nav .cerrarMenu {
      display: flex;
      font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
      font-size: 3rem;
      font-weight: 500;
      padding-right: 2rem;
      text-align: right; }
    header nav .modal-dialog {
      margin: 0;
      width: 100%;
      max-width: 100%;
      position: fixed;
      display: flex;
      height: 110vh; }
    header nav .modal-content {
      background-color: tomato;
      width: 100%;
      height: 110vh;
      border: 0;
      display: flex; }
    header nav .modal-header {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      justify-self: center; }
    header nav .homeMenu {
      color: #2D2C2C; }
    header nav .homeMenu:hover {
      color: #fff; }
    header nav .cerrarMenu {
      color: #2D2C2C; }
    header nav .cerrarMenu:hover {
      color: #fff; }
    header nav .listaMenu {
      display: flex;
      flex-direction: column;
      list-style: none; }
      header nav .listaMenu__items {
        font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
        font-size: 18rem;
        line-height: 14rem;
        padding-bottom: 16rem; }
        header nav .listaMenu__items a {
          color: #fff;
          transition: width 1s;
          position: absolute;
          width: 0px;
          padding: 2rem; }
        header nav .listaMenu__items a:hover {
          color: tomato;
          background-color: lightsteelblue;
          width: 80%; }

@media only screen and (max-width: 910px) {
  .listaMenu__items {
    font-size: 14rem !important;
    line-height: 9rem !important;
    padding-bottom: 12rem !important; }
    .listaMenu__items a:hover {
      width: 100% !important; } }

@media only screen and (max-width: 680px) {
  .listaMenu__items {
    font-size: 10rem !important;
    line-height: 8rem !important;
    padding-bottom: 10rem !important; } }

@media only screen and (max-width: 490px) {
  .listaMenu {
    padding: 0; }
    .listaMenu__items {
      font-size: 6rem !important;
      line-height: 3rem !important;
      padding-bottom: 6rem !important; } }

footer {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2D2C2C;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2D2C2C;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  footer .menuFooter {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    list-style: none;
    margin: auto;
    padding: 1rem 40%; }
    footer .menuFooter__item {
      font-size: 1.5rem;
      font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
      padding: 0 2rem;
      opacity: 0.8; }
      footer .menuFooter__item a {
        color: #2D2C2C; }
    footer .menuFooter a:hover {
      background-color: #2D2C2C;
      color: #c7c7c7; }

@media only screen and (max-width: 425px) {
  .menuFooter__lista {
    flex-direction: column; } }

.marca {
  margin: auto; }
  .marca__titulo {
    color: #fff;
    margin: auto;
    margin-top: 10rem;
    font-size: 50rem;
    font-weight: 400;
    font-family: 'Staatliches', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 45rem;
    text-align: center; }
  .marca__bajada {
    color: #000;
    margin-top: 0.5rem;
    font-weight: 400;
    font-family: 'Palanquin', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0.75rem;
    text-align: center;
    font-size: 1.5rem; }

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; }
  .intro__texto {
    margin: auto;
    padding: 15rem 30%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1rem; }

.serv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }
  .serv__imagen {
    border-right: solid;
    border-right-color: #000;
    border-right-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .serv__imagen img {
      width: 80%; }
  .serv__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .serv__texto p {
      padding: 0rem 10%; }

.trab {
  background-color: #2D2C2C;
  color: #c7c7c7;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .trab__lista {
    display: flex;
    flex-direction: column;
    color: #c7c7c7;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none; }
    .trab__lista__item {
      width: 80%;
      display: block;
      color: #c7c7c7;
      text-decoration: none;
      border: solid;
      border-color: #fff;
      border-width: 2px;
      border-top-width: 1px;
      border-bottom-width: 1px;
      font-size: 8rem;
      font-weight: 300;
      font-family: 'Staatliches', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
      margin: auto;
      letter-spacing: 0.75rem;
      text-align: center; }
    .trab__lista__item:hover {
      background-color: #c7c7c7;
      color: #2D2C2C; }

@media only screen and (min-width: 769px) {
  .intro {
    transform: scale(0.25); }
  .intro:hover {
    transform: scale(1.25);
    padding: 0;
    margin: 0; } }

@media only screen and (max-width: 768px) {
  .marca__titulo {
    font-size: 15rem; }
  .marca__bajada {
    font-size: 1rem;
    margin-top: 0.25rem;
    letter-spacing: 0.5rem; }
  .intro__texto {
    padding: 10rem 10%;
    font-size: 2rem;
    transform: scale(1); }
  .serv__texto {
    text-align: center;
    margin: 0; }
  .serv__imagen {
    border: none; }
  .trab__lista__item {
    width: 90%;
    display: block;
    color: #c7c7c7;
    text-decoration: none;
    border: solid;
    border-color: #fff;
    border-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Staatliches', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    margin: auto;
    letter-spacing: 0.75rem; } }

@media only screen and (max-width: 425px) {
  .marca__titulo {
    font-size: 13rem; }
  .trab__lista__item {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.5rem; } }

@media only screen and (max-width: 375px) {
  .marca__titulo {
    font-size: 10rem; }
  .marca__bajada {
    font-size: 1rem;
    margin-top: 0.25rem;
    letter-spacing: 0.25rem; } }

.proyectos {
  height: 70vh; }

.portada-disegnoarq {
  background-color: tomato;
  background-size: cover;
  background-position: center center;
  display: grid;
  text-align: left;
  flex-direction: column;
  padding: 0;
  height: 100%;
  transition: all 1s; }
  .portada-disegnoarq__titulo {
    font-size: 8rem;
    font-weight: 500;
    align-self: flex-end;
    padding-left: 3rem;
    font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 8rem; }

.portada-reciclar {
  background-color: tomato;
  background-size: cover;
  background-position: center center;
  display: grid;
  text-align: left;
  flex-direction: column;
  padding: 0;
  height: 100%;
  transition: all 1s; }
  .portada-reciclar__titulo {
    font-size: 8rem;
    font-weight: 500;
    align-self: flex-end;
    padding-left: 3rem;
    font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 8rem; }

.portada-disegnoarq:hover {
  background-image: url("../imagenes/portada-disegnoarq.jpg");
  transform: scale(0.97);
  background-color: transparent; }

.portada-reciclar:hover {
  background-image: url("../imagenes/portada-reciclar.jpg");
  transform: scale(0.97);
  background-color: transparent; }

.aboutConcepto {
  font-size: 8rem;
  font-weight: 600;
  font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
  text-align: left;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  padding: 5rem 0; }
  .aboutConcepto__izquierda {
    text-align: left;
    padding: 0 5% 0 0; }
  .aboutConcepto__derecha {
    color: tomato;
    text-align: right;
    padding: 0 0 0 5%; }

.aboutDetalle, .aboutEmpleados {
  font-family: "Roboto", "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  line-height: 3rem; }
  .aboutDetalle strong, .aboutEmpleados strong {
    font-weight: 600; }

.aboutEmpleados {
  padding-top: 3rem; }

.cita {
  font-size: 1.7rem;
  padding-left: 2rem; }

.aboutFoto img {
  width: 100%; }

@media only screen and (max-width: 910px) {
  .aboutConcepto {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem; }
  .aboutDetalle, .aboutEmpleados {
    font-size: 1.5rem;
    line-height: 2rem; }
  .aboutEmpleados {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1.5rem; }
  .cita {
    font-size: 1.3rem;
    padding-left: 2rem; } }

@media only screen and (max-width: 425px) {
  .aboutConcepto {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    padding: 3rem 0; } }

.contenedorFormulario {
  text-align: left;
  padding: 0 5%; }
  .contenedorFormulario .formularioContacto {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem; }
    .contenedorFormulario .formularioContacto label {
      color: #2D2C2C;
      font-size: 1.5rem;
      opacity: 0.9;
      letter-spacing: 0.15rem;
      font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif; }
    .contenedorFormulario .formularioContacto input, .contenedorFormulario .formularioContacto textarea {
      font-size: 8rem;
      background-color: transparent;
      padding-left: 2rem;
      border: 0;
      color: #2D2C2C; }
      .contenedorFormulario .formularioContacto input:focus, .contenedorFormulario .formularioContacto textarea:focus {
        outline: none; }
    .contenedorFormulario .formularioContacto textarea {
      overflow-y: hidden; }
      .contenedorFormulario .formularioContacto textarea:focus {
        outline: none; }
    .contenedorFormulario .formularioContacto .linea {
      background-color: #2D2C2C;
      opacity: 0.5;
      height: 2px;
      left: 0;
      transform-origin: left;
      width: 100%; }
    .contenedorFormulario .formularioContacto__botones {
      display: flex;
      justify-content: space-around; }
      .contenedorFormulario .formularioContacto__botones__boton, .contenedorFormulario .formularioContacto__botones__boton2 {
        font-family: "Staatliches", "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
        padding-right: 2rem;
        font-size: 4rem !important; }
        .contenedorFormulario .formularioContacto__botones__boton:hover, .contenedorFormulario .formularioContacto__botones__boton2:hover {
          background-color: tomato; }
      .contenedorFormulario .formularioContacto__botones__boton2 {
        font-size: 2rem !important; }
        .contenedorFormulario .formularioContacto__botones__boton2:hover {
          background-color: tomato; }
