
.proyectos {
    height: 70vh;


}

@each $portada in disegnoarq, reciclar {
    .portada-#{$portada} {
        background-color: rgb(0, 0, 0);
        background-size: cover;
        display: grid;
        text-align: left;
        flex-direction: column;
        padding: 0;
        height: 100%;
        transition: all 1s;


    

        &__titulo {
            font-size: $SubtitulosSeccion;
            font-weight: $SubtitulosSeccionPeso;
            align-self: flex-end;
            padding-left: 3rem;
            font-family: $Titulos;
            color: $Blanco;
            line-height: 8rem;
        } 

    }
}

@each $portada in disegnoarq, reciclar {
    .portada-#{$portada}:hover {
        background-image: url("../imagenes/portada-#{$portada}.jpg");
        transform: scale(0.95);
        background-color:transparent;
        opacity: 0.9;            
        
        
    }
}

