
.proyectos {
    height: 70vh;


}

@each $portada in disegnoarq, reciclar {
    .portada-#{$portada} {
        background-color: $Rojo;
        background-size: cover;
        background-position: center center;
        display: grid;
        text-align: left;
        flex-direction: column;
        padding: 0;
        height: 100%;
        transition: all 1s;


        &__titulo {
            font-size: $TituloSeccion;
            font-weight: 600;
            align-self: flex-end;
            padding: 0 3rem;
            font-family: $Titulos;
            color: $Negro;
            line-height: 8rem;
        } 

    }
}

@each $portada in disegnoarq, reciclar {
    .portada-#{$portada}:hover {
        background-image: url("../imagenes/portada-#{$portada}.jpg");
        transform: scale(0.97);
        background-color:transparent;
        
        
    }
}

@media only screen and (max-width: 600px) {

    .proyectos {
        height: 60vh;
    
    
    }
    
    @each $portada in disegnoarq, reciclar {
        .portada-#{$portada} {
           
    
    
            &__titulo {
                font-size: $TituloSeccion - 3rem;
                font-weight: 600;
                line-height: 7rem;
            } 
    
        }
    }
}

@media only screen and (max-width: 425px) {


    @each $portada in disegnoarq, reciclar {
        .portada-#{$portada} {
           
    
    
            &__titulo {
                font-size: $TituloSeccion - 6rem;
                font-weight: 600;
                line-height: 4rem;
            } 
    
        }
    }
}