
@each $portada in disegnoarq, reciclar {
    .trabajosPortada-#{$portada} {
        background-image: url("../imagenes/portada-#{$portada}.jpg");
        background-size: cover;
    display: grid;
    text-align: left;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    background-color: crimson;
    height: 70vh;
    padding: 0;


    
    
/*
    &__imagen {
        display: flex;
        justify-content: left;
        align-items: left; 
        flex-wrap: wrap;

        img {
            max-width: 300px;
            margin: 1rem 1rem 0 0;
            height: 200px;
            width: 300px;
    
        }
    }
    */
    &__titulo {
        font-size: $SubtitulosSeccion;
        font-weight: $SubtitulosSeccionPeso;
        align-self: flex-end;
        justify-self: flex-start;
        padding-left: 3rem;
        font-family: $Titulos;
    } 

}
}


