.detalleNosotros {
    margin-top: 0.5rem;
    
    font-weight: 300;
    font-family: 'Palanquin', 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0.25rem;
    padding: 0 10%;
}