.aboutConcepto {
    font-size: 8rem;
    font-weight: 600;
    font-family: $Titulos;
    text-align: left;
    line-height: 9rem;
    letter-spacing: 0.2rem;
    padding: 5rem 0;

    &__izquierda {
        text-align: left;
        padding: 0 5% 0 0;
    }

    &__derecha {
        color: tomato;
        text-align: right;
        padding: 0 0 0 5%;
    }
    
}


.aboutDetalle {
    font-family: $TextosLargos;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    line-height: 3rem;

    strong {
        font-weight: 900;
    }

    
}

.aboutEmpleados{
    @extend .aboutDetalle;
    padding-top: 3rem;
}

.cita {
    font-size: 1.7rem;
    padding-left: 2rem;

}

.aboutFoto {
    

    img {
        width: 100%;
    }
}