


.contenedorFormulario {
    text-align: left;
    padding: 0 5%;
    
    .formularioContacto{

        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    
        label {
            color: $GrisOscuro;
            font-size: 1.5rem;
            opacity: 0.9;
            letter-spacing: 0.15rem;
            font-family: $Titulos;

        }

        input {
            font-size: 8rem;
            background-color: transparent;
            padding-left: 2rem;
            border: 0;
            color: $GrisOscuro;

            
            &:focus {
                outline: none;
            
            }

        }

        textarea {

            @extend input;

            overflow-y: hidden; 
            

            &:focus {
                outline: none;
            
            }
        }

        

        .linea {
            background-color: $GrisOscuro;
            opacity: 0.5;
            height: 2px;
            left: 0;
            transform-origin: left;
            width: 100%;
            
        }

        &__botones {
            display: flex;
            justify-content: space-around;
            

            &__boton {
                font-family: $Titulos;
                padding-right: 2rem;
                font-size: 4rem !important;
                
                

                &:hover {
                    background-color: $Rojo;
                }
            }

            &__boton2 {
                @extend .formularioContacto__botones__boton;
                font-size: 2rem !important;
                
                
                

                &:hover {
                    background-color: $Rojo;
                }
            }
        }

    
    }


}

@media only screen and (max-width: 768px) {

    
}


