
.marca {

    margin: auto;

    &__titulo {
        margin: auto;
        margin-top: 10rem;
        font-size: 50rem;
        font-weight: 400;
        font-family: $Titulos;
        line-height: 45rem;
        display: inline-flex;
        justify-content: center;
        

        .letra {
            color: $Blanco;
            padding: 0 ;
            margin: 0;
            transition: all 1s;

        }


        .letra__H:hover {
            transform: scale(0.4);
            color: $Rojo;
                
        }
        
        .letra__A:hover {
            transform: rotateZ(90deg) scale(0.7);
            color: $GrisOscuro;
            
        }

        .letra__R:hover {
            transform: rotateX(790deg);
            color: $GrisOscuro;

            
        }

        .letra__T:hover {
            transform: rotateZ(540deg) scale(0.5);
            color: $GrisOscuro;

        }

        .letra__O:hover {
            transform: rotateZ(90deg) scale(0.2);
            color: $Rojo;
            
        }
    }
    

    &__bajada {
        color: $Negro;
        margin-top: 0.5rem;
        font-weight: 400;
        letter-spacing: 0.75rem;
        text-align: center;
        font-size: $TituloBajada;
        
    }
}


@media only screen and (max-width: 1024px) {

    .marca{
        
        &__titulo{
        font-size: 37rem;
        line-height: 35rem;
        }
      
    }

}

@media only screen and (max-width: 900px) {

    .marca{
        
        &__titulo{
        font-size: 30rem;
        line-height: 30rem;
        }

     
      
    }

}

@media only screen and (max-width: 768px) {

    .marca{
        
        &__titulo{
        font-size: 23rem;
        line-height: 25rem;
        }

        &__bajada {
            font-size: $TituloBajada - 0.25rem;
            letter-spacing: 0.5rem;
        } 
      
    }

}

@media only screen and (max-width: 545px) {

    .marca{
        
        &__titulo{
        font-size: 18rem;
        line-height: 18rem;
        }
        
        
        .letra__T:hover {
            transition: all 3s;
            transform: rotateZ(3780deg) scale(0.5);
            
            color: $GrisOscuro;
 
        }

        &__bajada {
            margin-top: 0.25rem;
            letter-spacing: 0.30rem; 
        }  
      
    }

    

}



@media only screen and (max-width: 375px){

    .marca{
        
        &__titulo{
        font-size: 15rem;
        }

        &__bajada {
            font-size: 1rem;
            margin-top: 0;
            letter-spacing: 0.25rem;
        }  
      
    }
}