.serviciosPortada {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 5rem 0 0 0;

    &__imagen {
        /*border-right: solid;
        border-right-color: $Negro;
        border-right-width: 1px;*/
        display: flex;
        justify-content: center;
        align-items: center; 

        img {
            width: 80%;
    
        }
    }
    
    &__descripcion {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0rem 10%;    
        
        &__titulo {
            font-size: $SubtitulosSeccion;
            font-weight: $SubtitulosSeccionPeso;
        }       
      
    }
    
}

@for $i from 1 through 2 {
    .serviciosPortada-#{$i} {
        @if $i == 1 {
            border-right: solid;
            border-right-color: $Negro;
            border-right-width: 1px;
      
        }

        @else if $i == 2 {
            border-left: solid;
            border-left-color: $Negro;
            border-left-width: 1px;
         
        }
    }
}

@media only screen and (max-width: 768px) {

    .serviciosPortada {
        padding: 1rem 0 0 0;
        


        &__descripcion {
                
            &__titulo {
                font-size: $SubtitulosSeccion - 1rem ;
            } 
            
            &__texto {
                font-size: 1.25rem;
            }
          
        }
    }

    @for $i from 1 through 2 {
        .serviciosPortada-#{$i} {
            @if $i == 1 {
                border-right: none;
                border-right-color: transparent;
                border-right-width: 0px;
    
            }
    
            @else if $i == 2 {
                border-left: none;
                border-left-color: transparent;
                border-left-width: 0px;
                padding-bottom: 3rem;
            }
        }
    }
}
