footer {

    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $GrisOscuro;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $GrisOscuro;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .menuFooter {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        list-style: none;
        margin: auto;
        padding: 1rem 40%;


            &__item {
                font-size: 1.5rem;
                font-family: $Titulos;
                padding: 0 2rem;
                opacity: 0.8;

                a {
                    color: $GrisOscuro;

                }
                
            }
        

            a:hover {
                background-color:$GrisOscuro;
                color: $GrisClaro;
            }
        
    }    
}

