header {

    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $GrisOscuro;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $GrisOscuro;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-content: space-between;

        .logo {
            display: flex;
            padding-left: 2rem; 
            position:relative;
            font-family: $Titulos;
            font-size: 3rem;
            letter-spacing: 0;
            font-weight: 500;

            }
        
            .logo:hover {
            background-color: transparent;
            
            }

        .menu {
            display: flex;
            font-family: $Titulos;
            font-size: 3rem;
            font-weight: 500;
            padding-right: 2rem;

        }
        

        .modal-dialog{
            margin: 0;
            width: 100% !important;
            max-width: 100%;

        }

        .modal-content {
            background-color: crimson;
            width: 100% !important;
            height: 100vh;
            border: 0;
        }

        .modal-header {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
        }

        .cerrarMenu {
            text-align: end;
            display: flex;
            font-family: $Titulos;
            font-size: 3rem;
            color: $Blanco;
            

        }

    }
}



