header {

    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $GrisOscuro;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $GrisOscuro;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


    nav {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        justify-self: center;

        .logo {
            display: flex;
            padding-left: 2rem; 
            position:relative;
            font-family: $Titulos;
            font-size: 3rem;
            font-weight: 500;

        }
        
        .logo:hover {
            background-color: transparent;
            
        }

        .menu {
            display: flex;
            font-family: $Titulos;
            font-size: 3rem;
            font-weight: 500;
            padding-right: 2rem;

        }
        

        .modal-dialog{
            margin: 0;
            width: 100%;
            max-width: 100%;
            position: fixed;

        }

        .modal-content {
            background-color: $Negro;
            width: 100% ;
            height: 100vh;
            border: 0;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }


        .homeMenu {
            display: flex;
            padding-left: 2rem; 
            position:relative;
            font-family: $Titulos;
            font-size: 3rem;
            font-weight: 500;
            color: $GrisClaro;

        }

        .homeMenu:hover {
            color: $Blanco
        }


        .cerrarMenu {
            text-align: end;
            display: flex;
            font-family: $Titulos;
            font-size: 3rem;
            color: $GrisClaro;
            

        }

        .cerrarMenu:hover {
            color: $Blanco
        }

        .listaMenu {
            display: flex;
            flex-direction: column;

            &__items{
                font-family: $Titulos;
                font-size: $TituloSeccion - 1rem;
                padding: 0;
                line-height: 12rem;

                a{
                    color: $Blanco;

                }

                a:hover {
                    color: $GrisClaro;
                }

            }
        }

    }
}



