* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%
}

body {
    font-family: 'Palanquin', 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: $Negro;
    margin: 0;
    line-height: 1.6;
    background-color: lightsteelblue;
    
}

section {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}


a {
    color: $Negro;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}

a:hover {
    color: $Negro;
}

.tituloSeccion {
    padding-bottom: 5rem;


    &__titulo {
        font-family: $Titulos;
        font-size: $TituloSeccion;
        font-weight: $TituloSeccionPeso;
        margin-top: $TituloMargen;
    }

    &__bajada {
        font-size: $TituloBajada;
        font-weight: $TituloBajadaPeso;
        letter-spacing: $TituloBajadaEspaciado;
        padding: $TituloBajadaContenedor;
    
    }
}

.tituloProyecto {

    
    margin: auto;
    justify-self: center;
    

    &__titulo {
        font-family: $Titulos;
        font-size: $SubtitulosSeccion;
        font-weight: $SubtitulosSeccionPeso;
        text-align: left;
        padding: 3rem 2rem 0 2rem ;
        line-height: $SubtitulosSeccion;
    }

    &__bajada {
        font-size: $TituloBajada;
        font-weight: $TituloBajadaPeso;
        letter-spacing: $TituloBajadaEspaciado;
        padding: 0 2rem;
        text-align: left;
        
    
    }

    &__descripcion {
        padding: 3rem 2rem 0 2rem ;
        text-align: left;   
        line-height: 2.7rem;


        strong {
            font-family: $Titulos;
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: 0.25rem;
        }



    }
}

.animateScroll {

    max-width: 100%;

    img {
        width: 100%;
        position: relative;
    }
  
}

.textoDesarrollo {

    text-align: left;
    padding: 5% 3%;
    display: flex;
    align-content: center;


}

.cont {
    font-family: $Titulos;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
    padding: 5rem 0;
    color: $Rojo;
    letter-spacing: 0.25rem;
    line-height: 3rem;

    &__texto{
        margin: 0;
    

        &__enlace {
            color: $Blanco;
            transition: width 1s;
            width: 95vw;
        }

        &__enlace:hover {
       
            color: $GrisOscuro; 
            background-color: lightsteelblue;  
            width: 40vw;
        }  
    }   
}




@each $key, $color in $colors {
    .bg-#{$key} {
        background-color: $color;

        a {
            color: $Blanco;
        }      

    }
    
}



@media only screen and (max-width: 768px) {
    .tituloSeccion {  
        padding-bottom: 2rem;
    
        &__titulo {
            font-size: $TituloSeccion - 2rem;
        }
    
        &__bajada {
            font-size: $TituloBajada - 0.25rem;
            padding: 0;

        }
    }

    
    .cont {
        font-size: 2rem;
        line-height: 2rem;
        padding: 3rem 0;
        letter-spacing: 0.15rem;

        &__texto{
    
            &__enlace:hover {
                width: 50vw;
            }  
        }  
        
    }
 
        
    .nav {
        padding: 0 2rem 0 2rem;
    }  

}

@media only screen and (max-width: 375px) {
    .tituloSeccion {  
        padding-bottom: 2rem;
    
        &__titulo {
            font-size: $TituloSeccion - 4rem;
        }
    
        &__bajada {
            font-size: $TituloBajada - 0.25rem;
            padding: 0;

        }
    }

    .cont {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 2rem 0; 
        
    }

}